name: Deploy Website to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Copy index to EC2
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Copy index.html via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          source: "index.html"
          target: "/var/www/html/"
          overwrite: true
          strip_components: 0
